<% if !user_signed_in? %>
  <div class="panel panel-primary">
    <div class="panel-body">
      <h3>Gain access to all the services!</h3>
      <p><%= link_to "Create a new account", new_user_registration_path %></p>
      <p>or</p>
      <p><%= link_to "Log in", new_user_session_path %> with a existing one.</p>
    </div>
  </div>
<% end %>