// import the CSS framework
@import "bootstrap";

body {
  background-color: #eee;
}

.container {
  width: 970px;
  max-width: none !important;
}

main {
  @extend .container;
  padding-bottom: 80px;
  margin-top: 51px;
  border: 1px solid #e7e7e7;
  border-top: 0px;
  min-height: 600px;
  background-color: #f8f8f8;
}

.main-button {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  min-width: 200px;
  margin-bottom: 20px;
}

section {
  @extend .row;
  margin-top: 20px;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin .first {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin .middle {
  margin-bottom: -1px;
  border-radius: 0;
}

.form-signin .last {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}