<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
    <%= link_to 'PigBank', root_path, :class => 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "Login", "" %>
      </li>
    </ul>
  </div>
</nav>
